* {
    color: $black;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

button {
    border-radius: 10px;
    box-shadow: 0 3px 99px 0 rgba(0, 0, 0, 0.16);
    background-image: linear-gradient(to left, #ffcc33, #ff9600);
    font-size: 30px;
    color: #fff;
    font-family: 'Muli';
    padding: 5px 34px;
    border: none;
    margin-top: 25px;
    cursor: pointer;
}
@media screen and (max-width: 480px){
    button {
        font-size: 1rem;
    }
}

/*
*    COLORS
*/
.text-yellow {
    color: $yellow;
}

/*
*    NAVBAR
*/
.navbar {
    margin-top: 40px;
}

.navbar-nav {
    margin-top: 0px;
}

.nav-item {
    margin-right: 18px;
}

.nav-item a {
    font-family: 'Raleway';
    font-weight: 700;
    text-decoration: none;
}

.navbar-brand {
    margin-right: 37px;
}

.navbar.scroll {
    background-color: #fff;
    margin-top: 0px;
    transition-duration: .4s;

    .navbar-brand img {
        width: 90%;
        transition-duration: .5s;
    }
}

@media screen and (max-width: 480px){
    .navbar-brand {
        margin-left: 15px;
    }
}

/*
*   HOME
*/
.home {
    background-image: url(../images/homeBackground.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto calc(100% - 55px);
    padding-top: 140px;
    @media screen and (max-width: 480px){
        ::after{
            background:none;
        }
        .CallMain{
            margin:0px;
            .Call{
                margin: 10px;
            }
        }
        .Title{
            padding-left:15px;
        }
        .SubTitle{
            padding-left:15px;
            float: left;
        }
    }
}

.Title {
    font-size: 40px;
    font-family: 'Muli';
    font-weight: 700;
}

.SubTitle {
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 500;
}

.Call {
    margin-right: 50px;
    padding: 20px;

    h3 {
        color: $white;
        font-family: 'Muli';
        font-weight: 700;
        font-size: 35px;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    span {
        color: $white;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 20px;
        margin-top: 10px;
    }
}

.CallComprador {
    border-radius: 10px;
    box-shadow: 0 3px 99px 0 rgba(0, 0, 0, 0.16);
    background-color: #232735;
    cursor: pointer;

    &:hover {
        background-color: #3a3d48;
    }
}

.CallFornecedor {
    border-radius: 10px;
    box-shadow: 0 3px 99px 0 rgba(0, 0, 0, 0.16);
    background-image: linear-gradient(to left, #ffcc33, #ff9600);
    cursor: pointer;

    &:hover {
        background-image: linear-gradient(to left, #ffd862, #ffad37);
    }
}
@media screen and (max-width: 480px){
    .home::after{
        background-image:none!important;
    }
}

@media screen and (max-width: 768px) {
    .home {
        background: none!important;
        padding-top: 80px;
    }
    .home::after {
        content: "";
        background-image: url(../images/homeBackground.jpg);
        background-size: contain;
        background-position: top left;
        opacity: 0.7;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        background-repeat: no-repeat;
    }
    .navbar {
        margin-top: 0px;
        background-color: #fff;
        .row{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
        }
    }
    .navbar-collapse.show {
        background-color: #fff;
        width: 100%;
        padding: 20px 45px;
    }
    .navbar-toggler {
        background: #fff;
        margin: 0;
        span{
            color: #000;
        }
        img {
            width: 25px;
        }
    }

}

/*
*   Sobre Nós
*/
.sobrenos {
    padding-top: 168px;
    box-sizing: border-box;
    max-width: 1260px;
    margin: 0 0 0 auto;
    background-image: url(../images/lupa.svg);
    background-position-x: 150%;
    background-position-y: top;
    background-size: 51%;
    background-repeat: no-repeat;

    h2 {
        color: #1e1c24;
        font-family: 'Muli';
        font-weight: 700;
        font-size: 50px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    p {
        font-family: 'Raleway';
        font-size: 25px;
        font-weight: 500;
        float: left;
        margin: 0;
        padding-top: 20px;
    }
    @media screen and (max-width: 480px){
        background-image:none;
        padding-top: 60px;
        .videoBackground img {
            width: 100%;
        }
        .videoBackground{
            order: 1;
        }
        .conteudo{
            order: 2;
        }   
    }
}

/*
*   COMPRADORES
*/
.compradores {
    background-image: url(../images/backgroundCircle.png);
    background-position-x: -64%;
    background-position-y: 78%;
    background-size: 61%;
    background-repeat: no-repeat;

    .container-fluid>.row {
        padding-top: 100px;
    }

    .imageBackground {
        padding-top: 95px;

        img {
            width: 100%;
            box-shadow: 0 100px 99px 0 rgba(31, 72, 93, 0.2);
        }
    }

    h2 {
        color: #1e1c24;
        font-family: 'Muli';
        font-weight: 700;
        font-size: 50px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    p {
        font-family: 'Raleway';
        font-size: 25px;
        font-weight: 500;
        float: left;
        margin: 0;
        padding-top: 20px;
    }

    ul {
        list-style: none;

        li {
            font-family: 'Raleway';
            font-size: 20px;
            color: #707070;
            font-weight: 500;
            padding-top: 13px;
        }
    }
    @media screen and (max-width: 480px){
        .imageBackground{
            padding-top:10px;
            order: 1;
        }
        .conteudo{
            order: 2;
        }
        h2{
            font-size: 2rem;
            padding-right: 15px;
            padding-left: 15px;
        }
        p{
            font-size: 1.5rem;
            padding-right: 15px;
            padding-left: 15px;
        }
        span{
            font-size: 1.3rem;
        }
    }
}

/*
* FORNECEDORES
*/
.fornecedores {
    background-image: url(../images/backgroundCircle.png);
    background-position-x: 150%;
    background-position-y: 78%;
    background-size: 61%;
    background-repeat: no-repeat;

    padding-top: 80px;
    box-sizing: border-box;
    max-width: 1260px;
    margin: 0 0 0 auto;

    h2 {
        color: #1e1c24;
        font-family: 'Muli';
        font-weight: 700;
        font-size: 50px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    p {
        font-family: 'Raleway';
        font-size: 25px;
        font-weight: 500;
        float: left;
        margin: 0;
        padding-top: 20px;
    }

    .conteudo>span {
        font-family: 'Raleway';
        font-size: 20px;
        color: #707070;
        font-weight: 500;
        padding-top: 13px;
        margin-top: 5px;
        float: left;
    }

    .imageBackground {
        padding-top: 95px;
        img{
            width:100%;
        }
    }
    @media screen and (max-width: 480px){
        .imageBackground{
            padding-top:10px;
            order: 1;
        }
        .conteudo{
            order: 2;
        }
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.5rem;
        }
        span{
            font-size: 1.3rem;
        }
    }
}

/*
*   FUNCIONALIDADES
*/

.funcionalidades {
    margin-top: 100px;

    h2 {
        text-align: center;
        font-family: Muli;
        font-size: 50px;
    }

    .col {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 50px;
    }

    img {
        align-self: center;
    }

    .titleFunc {
        font-family: 'Muli';
        font-size: 25px;
        font-weight: 800;
        margin-top: 10px;
    }

    .subtitleFunc {
        font-family: Muli;
        font-size: 16px;
        font-weight: bold;
        color: #b1aaaa;
        padding: 20px 10px;
    }
    @media screen and (max-width: 480px){
        h2{
            font-size: 2rem;
        }
    }
}

/*
*   Porque escolher a Qisar?
*/

.porqueescolher {
    .row {
        margin-bottom: 30px;
    }

    .col {
        display: flex;
        align-items: center;
    }

    h2 {
        font-family: Muli;
        font-size: 35px;
        font-weight: bold;
        width: 33%;
    }

    span {
        font-family: Raleway;
        font-size: 20px;
        font-weight: 600;
        padding-left: 20px;
    }
    @media screen and (max-width:480px) {
        .row {
            margin-bottom: 0px;
        }
        h2 {
            margin: 0;
            width: 100%;
            margin-bottom: 30px;
        }
        span {
            font-size: 15px;

        }
        .col{
            margin-top: 10px;
        }
    }
}

/*
*   FOOTER
*/

footer {
    background-color: #fafafa;
    padding: 20px 0;
    margin-top: 70px;

    .footerLogo {
        display: flex;
        align-items: center;
    }

    ul {
        list-style: none;

        li {
            display: flex;
            display: flex;
            align-items: center;
            margin-top: 15px;
        }

        span {
            padding-left: 15px;
            font-family: Raleway;
            font-size: 20px;
            font-weight: 600;
        }
    }
    @media screen and (max-width:480px) {
        ul{
            padding-left:0px;
        }
    }
}